.card-container {
    display: inline-grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #4b2e83;
    border:   px solid #4b2e83;
    padding: 10px;
  }
  
 .cards {
    border: 3px solid #4b2e83;
    background-color: #b7a57a;
    padding: 20px;
    text-align: center;
  }
  .message-box {
    grid-column: 4;
    grid-row: 1/4;
    border: 3px solid #4b2e83;
    background-color: #b7a57a;
    padding: 20px;
    text-align: center;
  }
  .scenes {
    display: none;
  }
  .iCards {
    display: inline-block;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  } 
  #play-button {
      width: 100px;  
      height: 70px;
      font-size:  30px;
      font-weight: bolder;
}

blockquote {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

input {
  border-radius: 5px;
  display: block;
  margin: 1em;
}

form {
  display: inline;
  margin: 0em;
}
.error {
  color: red;
}
